In [49]:
import pandas as pd
from sqlalchemy import create_engine
import pymongo
from matplotlib import pyplot as plt

In [50]:
#Importing 2015 CSV
Happiness_2015_df = pd.read_csv("Resources/2015.csv")
Happiness_2015_df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [51]:

Happiness_2015_df.dtypes

Country                           object
Region                            object
Happiness Rank                     int64
Happiness Score                  float64
Standard Error                   float64
Economy (GDP per Capita)         float64
Family                           float64
Health (Life Expectancy)         float64
Freedom                          float64
Trust (Government Corruption)    float64
Generosity                       float64
Dystopia Residual                float64
dtype: object

In [52]:
Happiness_2015_df.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [53]:
Happiness_2015_df.count()

Country                          158
Region                           158
Happiness Rank                   158
Happiness Score                  158
Standard Error                   158
Economy (GDP per Capita)         158
Family                           158
Health (Life Expectancy)         158
Freedom                          158
Trust (Government Corruption)    158
Generosity                       158
Dystopia Residual                158
dtype: int64

In [54]:
#Reading the 2016 CSV File
Happiness_2016_df = pd.read_csv("Resources/2016.csv")
Happiness_2016_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [55]:
#Reading the 2016 CSV File
Happiness_2016_df = pd.read_csv("Resources/2016.csv")
Happiness_2016_df.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [56]:
Happiness_2016_df.count()

Country                          157
Region                           157
Happiness Rank                   157
Happiness Score                  157
Lower Confidence Interval        157
Upper Confidence Interval        157
Economy (GDP per Capita)         157
Family                           157
Health (Life Expectancy)         157
Freedom                          157
Trust (Government Corruption)    157
Generosity                       157
Dystopia Residual                157
dtype: int64

In [57]:
#Reading the 2017 CSV File
Happiness_2017_df = pd.read_csv("Resources/2017.csv")
Happiness_2017_df.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [58]:
Happiness_2017_df.count()

Country                          155
Happiness.Rank                   155
Happiness.Score                  155
Whisker.high                     155
Whisker.low                      155
Economy..GDP.per.Capita.         155
Family                           155
Health..Life.Expectancy.         155
Freedom                          155
Generosity                       155
Trust..Government.Corruption.    155
Dystopia.Residual                155
dtype: int64

In [59]:
Happiness_2017_df.count()

Country                          155
Happiness.Rank                   155
Happiness.Score                  155
Whisker.high                     155
Whisker.low                      155
Economy..GDP.per.Capita.         155
Family                           155
Health..Life.Expectancy.         155
Freedom                          155
Generosity                       155
Trust..Government.Corruption.    155
Dystopia.Residual                155
dtype: int64

In [60]:
#Reading the 2018 CSV File
Happiness_2018_df = pd.read_csv("Resources/2018.csv")
Happiness_2018_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [61]:
Happiness_2018_df.count()

Overall rank                    156
Country or region               156
Score                           156
GDP per capita                  156
Social support                  156
Healthy life expectancy         156
Freedom to make life choices    156
Generosity                      156
Perceptions of corruption       155
dtype: int64

In [62]:
Happiness_2018_df.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [63]:
#Reading the 2018 CSV File
Happiness_2019_df = pd.read_csv("Resources/2019.csv")
Happiness_2019_df.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [64]:
Happiness_2019_df.count()

Overall rank                    156
Country or region               156
Score                           156
GDP per capita                  156
Social support                  156
Healthy life expectancy         156
Freedom to make life choices    156
Generosity                      156
Perceptions of corruption       156
dtype: int64

In [65]:
Happiness_2020_df = pd.read_csv("Resources/2020.csv")
Happiness_2020_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [48]:
Happiness_2020_df.count()

Country name                                  153
Regional indicator                            153
Ladder score                                  153
Standard error of ladder score                153
upperwhisker                                  153
lowerwhisker                                  153
Logged GDP per capita                         153
Social support                                153
Healthy life expectancy                       153
Freedom to make life choices                  153
Generosity                                    153
Perceptions of corruption                     153
Ladder score in Dystopia                      153
Explained by: Log GDP per capita              153
Explained by: Social support                  153
Explained by: Healthy life expectancy         153
Explained by: Freedom to make life choices    153
Explained by: Generosity                      153
Explained by: Perceptions of corruption       153
Dystopia + residual                           153
dtype: int64

## Reading and Cleaning the Journalist Death CSV (1992 - 2020)

In [2]:
# Reading the Journalist Death CSV

journalist_death_df = pd.read_csv("Resources/journalistdeath.csv")
journalist_death_df.head()

,year,combinedStatus,fullName,sortName,primaryNationality,secondaryNationality,tertiaryNationality,gender,photoUrl,photoCredit,...,threatened,charges,motive,lengthOfSentence,healthProblems,impCountry,entry,sentenceDate,sentence,locationImprisoned
0,2018,Confirmed,Abadullah Hananzai,NaN,Afghanistan,NaN,NaN,Male,NaN,NaN,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1998,Confirmed,Abay Hailu,NaN,Ethiopia,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,Confirmed,Abd al-Karim al-Ezzo,NaN,Syria,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996,Confirmed,Abdallah Bouhachek,NaN,Algeria,NaN,NaN,Male,NaN,NaN,...,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,Confirmed,Abdel Aziz Mahmoud Hasoun,NaN,Syria,NaN,NaN,Male,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
journalist_death_df.columns

Index(['year', 'combinedStatus', 'fullName', 'sortName', 'primaryNationality',
       'secondaryNationality', 'tertiaryNationality', 'gender', 'photoUrl',
       'photoCredit', 'type', 'lastStatus', 'typeOfDeath', 'status',
       'employedAs', 'organizations', 'jobs', 'coverage', 'mediums', 'country',
       'location', 'region', 'state', 'locality', 'province', 'localOrForeign',
       'sourcesOfFire', 'motiveConfirmed', 'accountabilityCrossfire',
       'accountabilityAssignment', 'impunityMurder', 'tortured', 'captive',
       'threatened', 'charges', 'motive', 'lengthOfSentence', 'healthProblems',
       'impCountry', 'entry', 'sentenceDate', 'sentence',
       'locationImprisoned'],
      dtype='object')

In [16]:
journal_death_dropone_df = journalist_death_df.drop(['primaryNationality','secondaryNationality','tertiaryNationality','photoUrl','photoCredit', 'lengthOfSentence', 'healthProblems'], axis=1)

In [18]:
journal_death_dropone_df.head()

,year,combinedStatus,fullName,gender,type,lastStatus,typeOfDeath,status,employedAs,organizations,...,tortured,captive,threatened,charges,motive,impCountry,entry,sentenceDate,sentence,locationImprisoned
0,2018,Confirmed,Abadullah Hananzai,Male,Journalist,Killed,Murder,Killed,Staff,"Radio Azadi,Radio Free Europe/Radio Liberty",...,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1998,Confirmed,Abay Hailu,Male,Journalist,NaN,Dangerous Assignment,Killed,Staff,Agiere,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,Confirmed,Abd al-Karim al-Ezzo,Male,Journalist,NaN,Crossfire,Killed,Freelance,Freelance,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1996,Confirmed,Abdallah Bouhachek,Male,Journalist,NaN,Murder,Killed,Staff,Révolution et Travail,...,No,No,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,Confirmed,Abdel Aziz Mahmoud Hasoun,Male,Journalist,NaN,Crossfire,Killed,Staff,Masar Press,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
journal_death_dropone_df.columns

Index(['year', 'combinedStatus', 'fullName', 'gender', 'type', 'lastStatus',
       'typeOfDeath', 'status', 'employedAs', 'organizations', 'jobs',
       'coverage', 'mediums', 'country', 'location', 'region', 'state',
       'locality', 'province', 'localOrForeign', 'sourcesOfFire',
       'motiveConfirmed', 'accountabilityCrossfire',
       'accountabilityAssignment', 'impunityMurder', 'tortured', 'captive',
       'threatened', 'charges', 'motive', 'impCountry', 'entry',
       'sentenceDate', 'sentence', 'locationImprisoned'],
      dtype='object')

In [20]:
journal_death_droptwo_df = journal_death_dropone_df.drop(['charges', 'motive', 'impCountry', 'entry', 'sentenceDate', 'sentence', 'locationImprisoned'], axis=1)
journal_death_droptwo_df.head()

,year,combinedStatus,fullName,gender,type,lastStatus,typeOfDeath,status,employedAs,organizations,...,province,localOrForeign,sourcesOfFire,motiveConfirmed,accountabilityCrossfire,accountabilityAssignment,impunityMurder,tortured,captive,threatened
0,2018,Confirmed,Abadullah Hananzai,Male,Journalist,Killed,Murder,Killed,Staff,"Radio Azadi,Radio Free Europe/Radio Liberty",...,NaN,Local,Political Group,Confirmed,NaN,NaN,Complete Impunity,No,No,No
1,1998,Confirmed,Abay Hailu,Male,Journalist,NaN,Dangerous Assignment,Killed,Staff,Agiere,...,NaN,Local,Government Officials,Confirmed,NaN,No,NaN,NaN,NaN,NaN
2,2012,Confirmed,Abd al-Karim al-Ezzo,Male,Journalist,NaN,Crossfire,Killed,Freelance,Freelance,...,NaN,Local,Military Officials,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN
3,1996,Confirmed,Abdallah Bouhachek,Male,Journalist,NaN,Murder,Killed,Staff,Révolution et Travail,...,NaN,Local,NaN,Confirmed,NaN,NaN,Complete Impunity,No,No,No
4,2013,Confirmed,Abdel Aziz Mahmoud Hasoun,Male,Journalist,NaN,Crossfire,Killed,Staff,Masar Press,...,NaN,Local,Military Officials,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
journal_death_droptwo_df.columns

Index(['year', 'combinedStatus', 'fullName', 'gender', 'type', 'lastStatus',
       'typeOfDeath', 'status', 'employedAs', 'organizations', 'jobs',
       'coverage', 'mediums', 'country', 'location', 'region', 'state',
       'locality', 'province', 'localOrForeign', 'sourcesOfFire',
       'motiveConfirmed', 'accountabilityCrossfire',
       'accountabilityAssignment', 'impunityMurder', 'tortured', 'captive',
       'threatened'],
      dtype='object')

In [38]:
journal_death_dropthree_df = journal_death_droptwo_df.drop(['region','state','locality','province','localOrForeign', 'accountabilityCrossfire', 'accountabilityAssignment', 'tortured', 'captive', 'threatened'], axis=1)
journal_death_dropthree_df.head()

,year,combinedStatus,fullName,gender,type,lastStatus,typeOfDeath,status,employedAs,organizations,jobs,coverage,mediums,country,location,sourcesOfFire,motiveConfirmed,impunityMurder
0,2018,Confirmed,Abadullah Hananzai,Male,Journalist,Killed,Murder,Killed,Staff,"Radio Azadi,Radio Free Europe/Radio Liberty",Producer,"Crime,Politics,War","Radio,Internet",Afghanistan,Kabul,Political Group,Confirmed,Complete Impunity
1,1998,Confirmed,Abay Hailu,Male,Journalist,NaN,Dangerous Assignment,Killed,Staff,Agiere,Print Reporter,"Human Rights,Politics",Print,Ethiopia,Addis Ababa,Government Officials,Confirmed,NaN
2,2012,Confirmed,Abd al-Karim al-Ezzo,Male,Journalist,NaN,Crossfire,Killed,Freelance,Freelance,Camera Operator,War,Internet,Syria,Homs,Military Officials,Confirmed,NaN
3,1996,Confirmed,Abdallah Bouhachek,Male,Journalist,NaN,Murder,Killed,Staff,Révolution et Travail,Editor,Politics,Print,Algeria,Blida,NaN,Confirmed,Complete Impunity
4,2013,Confirmed,Abdel Aziz Mahmoud Hasoun,Male,Journalist,NaN,Crossfire,Killed,Staff,Masar Press,Internet Reporter,"Human Rights,Politics,War",Internet,Syria,"Jobar, Damascus",Military Officials,Confirmed,NaN

In [47]:
journal_death_dropfour_df = journal_death_dropthree_df.drop(['fullName','lastStatus','organizations', 'impunityMurder'], axis=1)
journal_death_dropfour_df.head()

,year,combinedStatus,gender,type,typeOfDeath,status,employedAs,jobs,coverage,mediums,country,location,sourcesOfFire,motiveConfirmed
0,2018,Confirmed,Male,Journalist,Murder,Killed,Staff,Producer,"Crime,Politics,War","Radio,Internet",Afghanistan,Kabul,Political Group,Confirmed
1,1998,Confirmed,Male,Journalist,Dangerous Assignment,Killed,Staff,Print Reporter,"Human Rights,Politics",Print,Ethiopia,Addis Ababa,Government Officials,Confirmed
2,2012,Confirmed,Male,Journalist,Crossfire,Killed,Freelance,Camera Operator,War,Internet,Syria,Homs,Military Officials,Confirmed
3,1996,Confirmed,Male,Journalist,Murder,Killed,Staff,Editor,Politics,Print,Algeria,Blida,NaN,Confirmed
4,2013,Confirmed,Male,Journalist,Crossfire,Killed,Staff,Internet Reporter,"Human Rights,Politics,War",Internet,Syria,"Jobar, Damascus",Military Officials,Confirmed

In [45]:
marks_list = journal_death_droptwo_df['gender'].tolist() 
  
# show the list 
print(marks_list)

['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', nan, nan, nan, 'Male', 'Male', nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, 'Male', nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, 'Male', 'Male', nan, 'Male', nan, nan, nan, nan, 'Male', 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, 'Male', 'Male', nan, 'Male', nan, nan, 'Male', nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, 'Female', nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, 'Male', nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, 'Male', 'Male', nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, 'Male', nan, nan, nan, 'Male', nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, 'Male', nan, 'Male', nan, nan, nan, nan, nan, 'Male', nan, nan, nan, 'Male', 'Male', nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, 'Male', nan, nan, nan, nan, 'Male', nan, nan, 'Male', nan, nan, nan, 'Male', nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, 'Female', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, 'Male', nan, nan, nan, nan, 'Male', nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Female', nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, 'Female', 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Female', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, 'Male', nan, 'Male', nan, 'Male', 'Male', nan, nan, nan, nan, nan, nan, 'Male', 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', 'Male', nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, 'Male', 'Male', nan, nan, 'Male', nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, 'Male', nan, 'Male', nan, nan, nan, nan, nan, 'Male', 'Male', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, 'Female', nan, nan, nan, nan, nan, nan, nan, nan, 'Male', nan, nan, nan, nan, nan, 'Male', nan]

In [66]:
# look for missing values
journal_death_dropfour_df.count()

year               2049
combinedStatus     2049
gender             1475
type               2049
typeOfDeath        1382
status             2049
employedAs         2041
jobs               1413
coverage           1360
mediums            1410
country            2049
location           2034
sourcesOfFire      1205
motiveConfirmed    1935
dtype: int64

In [67]:
# Create a new DataFrame that examines the years 2015 -2020
journalist_death_clean_df = journal_death_dropfour_df.loc[journal_death_dropfour_df["year"] == "2015", "2016", "2017", "2018", "2019", "2020"]
journalist_death_clean_df

/Users/aneidawinston/opt/anaconda3/lib/python3.8/site-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

IndexingError: Too many indexers